/* body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.gallery-item {
  margin: 10px;
}

.gallery-link {
  text-decoration: none;
  color: #333;
}

.gallery-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.1);
} */
img {
  vertical-align: bottom;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1040px;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.gallery-item {
  position: relative;
  margin-bottom: 10px;
}

.gallery-image {
  width: calc((1040px - 20px) / 3);
  height: 226px;
  object-fit: cover;

  border-radius: 6px;

  transition: 300ms;
}

.gallery-image:hover {
  transform: scale(1.03);
}